.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.issue-displayer {
    max-width: 1400px;
    width: 100%;
    min-height: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#statusDropdown {
    margin-left: 8px;
}
.chevron-left {
    margin-right: 5px;
}

.status-container {
    display: flex;
    align-items: center;
}

.status-container .form-select {
    width: auto;
    margin-left: 8px;
}

.card-footer p {
    margin: 0;
}